/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Hoang Thai Phuc
ID: 3978081
Acknowledgement:
- Ionicons for icons (https://ionic.io/ionicons)
- Flaticon for logo (https://www.flaticon.com)
- Freepik for high res images (https://www.freepik.com)
- Google fonts for fonts (https://fonts.google.com)
- Goodreads for book's images and information (https://www.goodreads.com)
- Ebay for book's small images in book deatil page (https://www.ebay.com/)
- CSS Gradient for creating gradient color code (https://cssgradient.io) */

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500&family=Montserrat:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: rgb(0, 34, 60);
    --Secondary-color: rgb(96, 186, 255);
}

a {
    text-decoration: none;
    color: inherit;
}

a.non-clickable-link {
    cursor: default;
}

/*------------------------------Home page------------------------------*/
/*--------------------Nav bar--------------------*/
#nav-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    width: 100%;
    z-index: 3;
    /* box-shadow: 0 1px 10px 5px rgb(255, 255, 255); */
}

#nav-bar nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 8px;
}

.logo img {
    width: 2rem;
}

.logo a {
    display: inline-flex;
    align-items: center;
}

.logo-text {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Chivo-Mono';
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 2;
    transition: .3s;
}

.nav-links li {
    display: inline-block;
    margin: 0 20px;
}

.nav-links li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: inherit;
    
    padding: 2px 10px;
    border-radius: 50px;
    transition: .3s;
}

.nav-links li a:hover {
    color: white;
    background-color: var(--primary-color);
}

/*--------------------Hamburger menu--------------------*/
.hamburger-bar {
    display: inline-flex;
    align-items: center;
    display: none;
}

.hbg-btn {
    display: block;
    position: relative;
    z-index: 4;
    width: 25px;
    height: 3.5px;
    border-radius: 12px;
    background-color: black;
    cursor: pointer;
    transition: .3s;
}

.hbg-btn::before, .hbg-btn::after {
    content: "";
    position: absolute;
    z-index: 3;
    width: 25px;
    height: 3.5px;
    border-radius: 12px;
    background-color: black;
    transition: .3s;
}

.hbg-btn::before {
    top: -7px;
}

.hbg-btn::after {
    top: 7px;
}

#hamburger-bar {
    display: none;
}

#hamburger-bar:checked ~ .hbg-btn {
    background-color: transparent;
    position: fixed;
    top: 29.5px;
    right: 2%;
}

#hamburger-bar:checked ~ .hbg-btn::before {
    top: 0;
    transform: rotate(-45deg);
}

#hamburger-bar:checked ~ .hbg-btn::after {
    top: 0;
    transform: rotate(45deg);
}

header {
    position: relative;
    overflow-x: hidden;
}

header nav:has(#hamburger-bar:checked) .nav-links {
    right: 0px;
}

header nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;

    background: rgba(255, 255, 255, 0.11);
    -webkit-backdrop-filter: blur(2.1px);
    backdrop-filter: blur(2.1px);
    transition: .3s;
}

header nav:has(#hamburger-bar:checked)::before {
    visibility: visible;
    opacity: 1;
}

/*--------------------Hero section--------------------*/
#hero-section {
    display: flex;
    z-index: 0;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 720px;
    padding: 80px;
}

.decorative-circle {
    position: absolute;
    z-index: -1;
    aspect-ratio: 1;
    border-radius: 100%;
    filter: blur(25px);
}

.decorative-circle:nth-child(1) {
    width: 1000px;
    background-color: var(--Secondary-color);
    opacity: 0.5;
    top: -58%;
    left: -20%;
}

.decorative-circle:nth-child(2) {
    width: 600px;
    background-color: var(--primary-color);
    opacity: 0.3;
    top: -50%;
    right: -15%;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 4.5rem;
}

.hero-text p {
    font-size: 1.2rem;
    margin-top: 48px;
    width: 75%;
}

/* hero img */
.hero-img {
    position: relative;
    perspective: 1000px;
    width: 50%;
}

.hero-book, .book-bg-cover {
    position: absolute;
    aspect-ratio: 2 / 3;
    transform: translateX(-50%);
    height: 270px;
    box-shadow: 4px 4px 15px 2px rgba(39, 39, 39, 0.8);
    transform-origin: center;
    transform-style: preserve-3d;
    transition: .3s;
}

.book-bg-cover {
    z-index: -2;
    transform: translateX(-50%) scale(120%);
    box-shadow: none;
    /* background-color: var(--primary-color); */
    background-color: transparent;
    border-radius: 25px;
}

.hero-book img {
    position: relative;
    width: 100%;
    height:100%;
    object-fit: fill;
}

.hero-book::before {
    content:'';
    position: absolute;
    top: 120px;
    left: 0;
    height: 30px;
    width: 100%;
    background: #eeeeee;
    transform: rotateX(-90deg) translateY(15px) translateZ(135px);
}

.hero-book::after {
    content:'';
    position: absolute;
    left: 75px;
    height: 100%;
    width: 30px;
    background: #eeeeee;
    transform: rotateY(90deg) translateX(15px) translateZ(90px);
}

.hero-book:hover {
    transform: rotateY(-30deg) rotateX(15deg) translateX(-40%);
}

.hero-book:nth-child(1), .book-bg-cover:nth-child(2) {
    left: 30%;
    top: -250px;
}

.hero-book:nth-child(1) {
    z-index: 5;
}

.hero-book:nth-child(3), .book-bg-cover:nth-child(4){
    left: 50%;
    top: -150px;
}

.hero-book:nth-child(3) {
    z-index: 3;
}

.hero-book:nth-child(5), .book-bg-cover:nth-child(6){
    left: 70%;
    top: -50px;
}

.hero-book:nth-child(5) {
    z-index: 1;
}

/*--------------------Media section--------------------*/
#media-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

#media-section > div {
    width: 40%;
}

.question {
    text-align: left;
}

.question h1 {
    margin-bottom: 12px;
    font-size: 1.7rem;
}

.question p {
    font-size: 1.2rem;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 100%;
}

.video iframe {
    width: 440px;
    height: 248px;
}


/*--------------------Category--------------------*/
main {
    padding: 50px;
}

.category {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Category title */
.category > h1 {
    display: flex;
    align-items: center;
    position: relative;
    margin: 12px 0;
    text-align: center;
}

.category > h1::before, .category > h1::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
    height: 2px;
    background-color: var(--primary-color);
}

.category > h1 > a {
    border: 2px solid var(--primary-color);
    padding: 6px 14px;
    border-radius: 50px;
    background-color: white;
    transition: .3s;
}

.category > h1 > a:hover {
    background-color: var(--primary-color);
    color: white;
}

/* book card */
.book-container {
    display: flex;
    gap: 2.5rem;
    width: 100%;
    margin: 12px 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book-info {
    display: inline-flex;
    min-width: 310px;
    width: 20%;
    gap: 4px;
    padding: 16px;
    border-radius: 10px;
}

.book {
    perspective: 1500px;
    width: 40%;
    /* height: 210px; */
    position: relative;
}

.back-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 6px 6px 0;
    background: rgb(101,101,101);
    background: linear-gradient(90deg, rgba(31, 31, 31, 0.9) 70%, rgba(55,195,146,0) 100%);
    background-color: white;
}

.book-info img {
    width: 100%;
    height: 100%;
    box-shadow: -10px 6px 20px 0px rgba(95, 95, 95, 0.5);
    /* box-shadow: inset 20px 0px 20px -15px rgb(0, 0, 0); */
    border-radius: 0 6px 6px 0;
    object-fit: fill;
    position: relative;
}

.book-info img, .back-cover {
    transform-origin: left;
    transform-style: preserve-3d;
    transition: .3s;
}

/* Book hover animation */
.book-info:hover .back-cover {
    transform: rotate(-2deg);
    box-shadow: 4px -2px 10px 0px rgba(139, 139, 139, 0.5);
    border-radius: 0 6px 6px 0;
}

.book-info:hover img {
    transform: rotate(-2deg) rotateY(-25deg);
}

.book-info:hover {
    box-shadow: 0px 0px 20px 0px rgba(95, 95, 95, 0.5);
}

/* book info */
.detail {
    width: 60%;
    padding: 0 6px;
    display: flex;
    flex-direction: column;
}

.detail h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.2rem;
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail h2 {
    color: gray;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 12px;
}

.detail p {
    letter-spacing: 0.08rem;
    margin-bottom: 12px;
}

.rating {
    display: flex;
    color: orange;
    font-size: 0.8rem;
    gap: 0.2rem;
}

.rating p {
    font-size: 0.8rem;
    display: inline;
    margin-left: auto;
}

.detail a {
    text-decoration: none;
    padding: 6px 14px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1rem;
    border-radius: 50px;
    align-self: flex-start;
    margin-top: auto;
    border: 2px solid var(--primary-color);
    transition: .5s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail a:hover {
    background-color: var(--primary-color);
    color: white;
}

/*------------------------------Sub-Catergory page------------------------------*/
.title {
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: 6px;
    margin-bottom: 24px;
}

/*------------------------------Contact us page------------------------------*/
#contact-form {
    display: flex;
    width: 100%;
    height: 60%;
    border-radius: 15px;
    margin: 8% 0 4% 0;
    /* overflow: hidden; */
    /* background-color: aqua; */
    box-shadow: 0 0 20px 5px rgb(177, 177, 177);
}

.cover {
    position: relative;
    width: 30%;
}

.cover img {
    position: absolute;
    width: 100%;
    height: 110%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    box-shadow: 0 0 20px 5px rgb(177, 177, 177);
    object-fit: cover;
}

.form {
    width: 70%;
}

.form form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-field {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 12px;
    margin-bottom: 8px;
    width: 95%;
}

.input-field input, .contact-purpose select, .input-field textarea {
    position: relative;
    flex-grow: 1;
    padding: 10px 8px;
    font-size: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    outline: none;
    background: transparent;
    transition: .3s;
}

.input-field input:focus, .contact-purpose select:focus, .input-field textarea:focus {
    border: 2px solid var(--Secondary-color);
}

.input-field textarea {
    resize: vertical;
    flex-grow: 1;
    min-height: 42px;
}

.selector {
    width: 95%;
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.selector label {
    margin-right: 12px;
}

.selector .options {
    padding: 10px 0;
}

.selector .options label {
    margin-right: 12px;
    -webkit-user-select: none;
    user-select: none;
}

.form-btn {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 95%;
    padding: 12px 0;
    margin-top: auto;
    margin-bottom: 2%;
}

.form-btn button {
    padding: 1% 2%;
    border-radius: 25px;
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: .3s;
}

.form-btn button:hover {
    color: white;
    background-color: var(--primary-color);
    transform: translateY(-3px);
}

/*------------------------------Book detail------------------------------*/
#book-detail {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
}

.breadcrumb {
    color: gray;
}

.breadcrumb a:hover {
    color: var(--Secondary-color);
}

.book-preview {
    display: flex;
    width: 100%;
}

.book-img {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2% 5%;
}

.primary-img {
    width: 280px;
}

.primary-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 15px 3px rgba(188, 188, 188, 0.855);
}

.small-img {
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.small-img div {
    width: 100%;
    height: 30%;
}

.small-img div img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
    box-shadow: 0 0 15px 2px rgba(188, 188, 188, 0.455);
    transition: .3s;
}

.small-img div img:hover {
    z-index: 2;
    transform: scale(1.5);
}

.buy-book {
    display: flex;
    flex-direction: column;
    gap: 3%;
    width: 50%;
    padding: 2% 0;
}

.buy-book h1 {
    font-size: 200%;
}

.buy-book h2 {
    font-size: 150%;
    color: rgb(97, 97, 97);
    font-weight: 300;
}

.buy-book h2::before {
    content: "By ";
}

.buy-book .rating {
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.buy-book .rating, .buy-book > p:first-of-type {
    font-size: 150%;
}

.buy-book > p:first-of-type {
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.buy-book .rating p {
    font-size: 1.5rem;
    margin-left: 1%;
}

.buy-btn {
    margin-top: auto;
}

.buy-btn button {
    padding: 8px 20px;
    border-radius: 25px;
    background-color: transparent;
    font-size: 1rem;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    transition: .3s;
}

.buy-btn button:hover {
    background-color: var(--primary-color);
    color: white;
}

/* Book description */
.book-description h1 {
    font-size: 2rem;
    color: var(--primary-color);
}

.book-description div {
    margin-top: 18px;
    border-top: 3px solid var(--primary-color);
    padding-top: 18px;
}

.book-description div p {
    font-size: 1.15rem;
}

.book-description div > * {
    margin-bottom: 18px;
}

/*------------------------------Media queries------------------------------*/
/*--------------------1465px--------------------*/
@media screen and (max-width: 1465px) {
    .book-info {
        width: 40%;
    }
    
    .hero-text h1 {
        font-size: 3rem;
    }
}

/*--------------------960px--------------------*/
@media screen and (max-width: 960px) {
    #nav-bar {
        padding: 15px 2%;
    }

    .logo-text {
        font-size: 1.3rem;
    }

    .nav-links li a {
        font-size: 1rem;
    }

    .selector {
        align-items: initial;
        flex-direction: column;
    }
}

/*--------------------800px--------------------*/
@media screen and (max-width: 800px) {
    .book-info {
        width: 80%;
    }

    .hamburger-bar {
        display: inline-block;
    }

    header .nav-links {
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        position: fixed;
        /* z-index: 3; */
        top: 0;
        right: -320px;
        width: 300px;
        height: 100vh;
        background-color: white;
        padding-top: 70px;
        box-shadow: -5px 0 15px 10px rgba(160, 160, 160, 0.7);
    }

    #hero-section {
        flex-direction: column-reverse;
        height: auto;
    }

    .decorative-circle:nth-child(1) {
        top: -10%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .decorative-circle:nth-child(2) {
        display: none;
    }

    .hero-img {
        transform: translateY(260px);
    }

    .hero-text {
        width: 100%;
        margin-top: 500px;
    }
    
    .hero-text * {
        text-align: center;
    }

    .hero-text p {
        width: 100%;
    }

    #media-section > div {
        width: 80%;
    }

    .question {
        text-align: center;
    }

    .video iframe {
        width: 530px;
        height: 298px;
    }

    .Sub-category-title {
        font-size: 2rem;
        letter-spacing: 3px;
    }

    .cover {
        display: none;
    }

    .form {
        width: 100%;
    }

    .input-field {
        margin-top: calc(0.5rem + 12px);
    }

    .input-field label {
        position: absolute;
        font-size: 1.1rem;
        padding: 0 3px;
        border-radius: 5px;
        z-index: 2;
        background-color: white;
        left: 12px;
        top: -12px;
    }

    .book-preview {
        flex-direction: column;
    }

    .book-preview > * {
        width: 100%;
    }

    .book-img {
        flex-direction: column;
    }

    .small-img {
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 20%;
    }

    .small-img div {
        width: 30%;
        height: 100%;
    }

    .buy-book {
        gap: 1.5rem;
        align-items: center;
    }

    .buy-book * {
        text-align: center;
    }

}

/*------------------------------Footer------------------------------*/
footer{
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    background: var(--primary-color);
    height: auto;
    width: 100%;
    padding-top: 10px;
    margin-top: 12px;
    color: #fff;
    margin-top: auto;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* margin-top: 12px; */
}

/* .footer-content h2{
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 2rem;
    letter-spacing: 0.1rem;
} */

.footer-content nav {
    margin: 10px 0;
}

.footer-content .nav-links {
    display: flex;
    justify-content: center;
    gap: 0.5rem 0;
    flex-wrap: wrap;
}

.footer-content .nav-links a {
    font-weight: 400;
    color: rgb(107, 116, 146);
}

.contacts {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem 3rem;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
